body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;           /* full viewport height */
    margin: 0;               /* remove default spacing */
    background-color: #f0f0f0; /* optional background */
}

.numpad_button {
    background-color: #F2EEED;
    margin: 5px;
    height: 50px;
    width: 50px;
    color: black;
}

#numbers {
    display: flex;
    width: 180px;
    height: 240px;
    flex-wrap: wrap;
    justify-content: center;
}
#clearbuttons{
    display: flex;
}

button[data-value="AC"] {
    background-color: #F2EEED;
    margin-bottom: 10px;
    height: 20px;
    width: 50px;
}
button[data-value="C"] {
    background-color: #F2EEED;
    margin-bottom: 10px;
    height: 20px;
    width: 50px;
}

button[data-value="+"]{
    height: 50px;
    width: 50px;
    margin: 5px;
    background-color: #59A6E0;
}
button[data-value="-"]{
    height: 50px;
    width: 50px;
    margin: 5px;
    background-color: #59A6E0;
}
button[data-value="*"]{
    height: 50px;
    width: 50px;
    margin: 5px;
    background-color: #59A6E0;
}
button[data-value="/"]{
    height: 50px;
    width: 50px;
    margin: 5px;
    background-color: #59A6E0;
}

#calc_buttons {
    display: flex;
}

#operators {
    display: flex;
    flex-direction: column;
    
}

.operator_button {
    height: 50px;
    width: 50px;
    margin: 5px;
    background-color: #59A6E0;
}

button[data-value="="] {
    background-color: #FFA147;
}

#blackshell {
    background-color: black;
    width:270px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
}

#display {
    background-color: #4B8881;
    width: 200px;
    height: 50px;
    padding-left: 5px;
    margin-bottom: 20px;
    font-family: 'Share Tech Mono', monospace;
    font-size:x-large
}